* {
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}

.productContainer {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.link {
  box-shadow: 0 0 10px rgb(255, 213, 193);
}

.link:hover {
  box-shadow: 0 0 10px rgb(255, 172, 134);
}
